a:link, a:visited { color: #eee; }
a:hover, a:active { color: #fff; text-decoration: none; }

a:hover.resume-color { color: #e73e33; }
a:hover.email-color { color: #5399a8; }
a:hover.github-color { color: #111111; }
a:hover.linkedin-color { color: #0077b5; }

html, body { height: 100%; }
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #eee;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
h2 {
  font-weight: 400;
  font-size: 20px;
}

.background-overlay {
	background: url('../img/overlay.png');
	position: fixed;
	width: 100%;
	height: 100%;
  transition: all 0.5s ease;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.background {
	position: fixed;
	top: 0%;
  right: 0%;
  min-width: 100%;
  min-height: 100%;
  transition: all 0.5s ease;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}

.icon-links a {
  font-size: 28px;
  padding: 0 10px;
}

.carousel {
  width: 300px;
  margin: auto;
}

.img-holder {
  height: 140px;
  margin: 15px 0;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);
}

.img-holder-logo {
  max-width: 300px;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.img-circle { border: 2px solid #eee; }

.list-columns-wrapper {
  margin-top: 30px;
}

.list-column {
  list-style-type: none;
  color: #eee;
}

.list-column a {
  font-weight: 300;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
}

.list-column a:hover {
  color: #eee;
  font-weight: 400;
}

@media (min-width: 768px) {
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}

/* hover-effects found at: https://github.com/IanLunn/Hover */

/* Underline From Left */
.hvr-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #eee;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline:hover:before, .hvr-underline:focus:before, .hvr-underline:active:before {
  right: 0;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
